<section data-fls-technologies class="technologies">
   <H2 class="technologies__title">технології друку на рекламно-сувенірній продукції</H2>
   <div class="technologies__bloc">
      <a href="#blck-1" class="technologies__btn" title="ШОВКОДРУК" id="blck-1">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-left.png" alt="подробиці">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-left_bottom.png" alt="подробиці">

         </div>
         <h3 class="technologies__name">ШОВКОДРУК</h3>
         <p class="technologies__text">Шовкотрафарет та трафаретний друк – це популярний метод нанесення зображень, логотипів, емблем та рекламних написів на різні поверхні. Вони широко використовуються в промисловості, мистецтві та рекламі завдяки своїй універсальності та високій якості друку. </p>
         <div class="technologies__icon">
            <img src="@img/technologies/silk_screen_printing.png" alt="img">
         </div>
      </a>
      <a href="#blck-2" class="technologies__btn" title="ТампоДРУК" id="blck-2">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-right.png" alt="подробиці">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-right_bottom.png" alt="подробиці">
         </div>
         <h3 class="technologies__name">ТампоДРУК</h3>
         <p class="technologies__text">Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.</p>
         <img class="technologies__icon" src="@img/technologies/pad_printing.png" alt="img">
      </a>
      <a href="#blck-3" class="technologies__btn" title="DTF-ДРУК" id="blck-3">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-left.png" alt="подробиці">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-left_bottom.png" alt="подробиці">
         </div>
         <h3 class="technologies__name">DTF-ДРУК</h3>
         <p class="technologies__text">Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.</p>
         <img class="technologies__icon" src="@img/technologies/DTF_printing.png" alt="img">
      </a>
      <a href="#blck-4" class="technologies__btn" title="сублімаційний ДРУК" id="blck-4">
         <div class="technologies__cover-block">
            <span class="technologies__function-txt">подробиці</span>
            <img class="technologies__function-img _side" src="@img/technologies/roller-right.png" alt="подробиці">
            <img class="technologies__function-img _bottom" src="@img/technologies/roller-right_bottom.png" alt="подробиці">

         </div>
         <h3 class="technologies__name">сублімаційний ДРУК</h3>
         <p class="technologies__text">Шелкотрафарет и трафаретная печать – это популярный метод нанесения изображений, логотипов, эмблем и рекламных надписей на различные поверхности. Они широко используются в промышленности, искусстве и рекламе благодаря своей универсальности и высокому качеству печати.</p>
         <img class="technologies__icon" src="@img/technologies/sublimation_printing.png" alt="img">
      </a>
   </div>
   <div class="technologies__items-nav">
      <a href="#blck-1" title="#blck-1"></a>
      <a href="#blck-2" title="#blck-2"></a>
      <a href="#blck-3" title="#blck-3"></a>
      <a href="#blck-4" title="#blck-4"></a>
   </div>
</section>