@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");@font-face {
	font-family: "iconfont";
	font-display: swap;
	/* src: url("D://WEB_DEV/PROJS IN PROCESS/OPEN RATING/open-rating_DEV/src/assets/svgicons/preview/iconfont.woff2?8201e48cd31fd429b1a6f1432dc570b4") format("woff2");  */
	src: url("../assets/fonts/iconfont.woff2") format("woff2");
}
[class*="--icon-"]::before {
	font-family: iconfont;
}
[class*="--icon-youTube"]::before {
	content: "\f101";
}
[class*="--icon-web3"]::before {
	content: "\f102";
}
[class*="--icon-wallets"]::before {
	content: "\f103";
}
[class*="--icon-Twitter"]::before {
	content: "\f104";
}
[class*="--icon-TikTok"]::before {
	content: "\f105";
}
[class*="--icon-storing"]::before {
	content: "\f106";
}
[class*="--icon-security"]::before {
	content: "\f107";
}
[class*="--icon-play"]::before {
	content: "\f108";
}
[class*="--icon-nft"]::before {
	content: "\f109";
}
[class*="--icon-next"]::before {
	content: "\f10a";
}
[class*="--icon-games"]::before {
	content: "\f10b";
}
[class*="--icon-exchanging"]::before {
	content: "\f10c";
}
[class*="--icon-crypto-wallet"]::before {
	content: "\f10d";
}
[class*="--icon-crypto-curr"]::before {
	content: "\f10e";
}
[class*="--icon-buying"]::before {
	content: "\f10f";
}
[class*="--icon-blockchain"]::before {
	content: "\f110";
}
[class*="--icon-arrow"]::before {
	content: "\f111";
}
* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* -------------------------------------------------------------------------- */
/* РОБОТА З ФОКУСОМ/ТАБОМ (якщо потрібно скинути outline глобально, ліпше робити так): */
/* 1. ВИДАЛЕННЯ СТАНДАРТНОЇ РАМКИ ФОКУСУВАННЯ */
/* Це загальний скид, який приховує стандартний синій outline */
/* Ми використовуємо :focus:not(:focus-visible), щоб приховати його лише при кліку мишею */
*:focus:not(:focus-visible) {
	outline: none;
}

/* 2. СТИЛЬ ДЛЯ НАВІГАЦІЇ КЛАВІАТУРОЮ */
/* Це основний блок. Він спрацює лише, коли користувач натискає клавішу Tab. */
:focus-visible {
	/* Тут ви можете визначити свій брендований стиль фокусу */
	outline: 0.1875rem solid #007bff; /* Наприклад, синя рамка */
	outline-offset: 0.1875rem; /* Невеликий відступ від елемента для естетики */
}

/* 3. РЕЗЕРВНИЙ ВАРІАНТ (FALLBACK) */
/* Це резерв для старих браузерів, які не підтримують :focus-visible. */
/* Вони побачать цей стиль при будь-якому фокусі (мишею чи клавіатурою). */
/* Якщо вам потрібно підтримувати дуже старі браузери, додайте це: */
/*
:focus {
    outline: 0.125rem solid #007bff; 
    outline-offset: 0.1875rem;
}
*/

/* -------------------------------------------------------------------------- */

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #fff;
  font-family: "Roboto";
  font-size: 1.125rem;
  background-color: #1b2036;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 83.875rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.title-h {
  font-weight: 700;
  line-height: 1.2;
}
.h2 {
  text-align: center;
}
.caption {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}
.txt {
  margin-inline: auto;
}
.txt {
  text-align: center;
  line-height: 1.5;
}
.wrap {
  padding-inline: 3.5rem;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
[class*=-ibg--contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}
.page__hero {
  margin-bottom: 10rem;
}
.page__milestones {
  margin: 0.0625rem 0rem 7.5rem;
}
.page__milestones {
  padding-top: 7.5rem;
}/* Generated by vite-plugin-svg-spritemap */
.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0rem, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  margin-bottom: 7.4375rem;
}
.footer__title {
  text-align: center;
}
.social-links__list {
  display: grid;
  grid-column-gap: 2rem;
}
.social-links__item {
  flex: 1 1 33.333%;
  color: #5ae4aa;
  background: linear-gradient(180deg, rgba(90, 228, 170, 0.1), rgba(90, 228, 170, 0.05) 100%);
  border-radius: 1rem;
}
.social-links__link {
  display: flex;
  align-items: center;
  gap: 1.6875rem;
  padding: 1.5625rem 2.625rem 1.6875rem 1.5625rem;
  cursor: pointer;
}
.social-links__icon {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 2.75rem;
}
.social-links__icon::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: blur(1.769911408425rem);
  filter: blur(0.6875rem);
  background: rgb(90, 228, 170);
  border-radius: 100%;
  opacity: 0.25;
  transition: all 0.3s ease-in-out;
}
.social-links__name {
  flex: 1 1 auto;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}
.social-links__arrow {
  font-size: 1.8125rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.hero {
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 112.5rem;
  height: 112.5rem;
  top: -59.375rem;
  left: 50%;
  transform: translate(-50%, 0rem);
  background-image: url("data:image/svg+xml,%3csvg%20viewBox='0%200%201789.7%201789.7'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20width='1789.701172'%20height='1789.699219'%20fill='none'%20customFrame='%23000000'%3e%3cdefs%3e%3cg%20id='pixso_custom_effect_0'%3e%3ceffect%20visibility='visible'%20effectType='gaussianBlur'%20stdDeviation='574.850342'%20/%3e%3c/g%3e%3cfilter%20id='filter_0'%20width='1789.701172'%20height='1789.699219'%20x='0.000000'%20y='0.000000'%20filterUnits='userSpaceOnUse'%20customEffect='url(%23pixso_custom_effect_0)'%20color-interpolation-filters='sRGB'%3e%3cfeFlood%20flood-opacity='0'%20result='BackgroundImageFix'%20/%3e%3cfeBlend%20result='shape'%20in='SourceGraphic'%20in2='BackgroundImageFix'%20mode='normal'%20/%3e%3cfeGaussianBlur%20stdDeviation='191.616776'%20result='effect_layerBlur_1'%20/%3e%3c/filter%3e%3c/defs%3e%3cg%20filter='url(%23filter_0)'%3e%3ccircle%20id='Shine'%20cx='894.850586'%20cy='894.849609'%20r='320'%20opacity='0.800000012'%20fill='rgb(86,173,255)'%20/%3e%3c/g%3e%3c/svg%3e");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.hero__container {
  position: relative;
}
.hero__content {
  position: relative;
  z-index: 7;
  margin: 0 auto;
  padding-top: 6rem;
  text-align: center;
  max-width: 49.6875rem;
}
.hero__btn {
  display: inline-flex;
  align-items: center;
  border-radius: 0.625rem;
  padding: 0.625rem 1.5rem;
}
.hero__btn {
  background: #5ae4aa;
  color: #1b2036;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-wrap: nowrap;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.hero__images_left {
  position: absolute;
  top: 0.5rem;
}
.hero__images_right {
  position: absolute;
}
.hero__images_right {
  top: 0.5rem;
}
.hero__cardano {
  position: absolute;
  top: 20.869565%; /* 96/460 */
  right: 2.5%; /* 8/320 */
}
.hero__cardano img {
  width: 20rem;
  height: 20rem;
}
.hero__bitcoin img {
  width: 22.5rem;
  height: 22.5rem;
}
.hero__chips {
  position: relative;
  z-index: 5;
}
.hero__chips-l {
  width: 20rem;
  height: 28.75rem;
}
.hero__chips-r {
  position: absolute;
  top: 15.5%;
  right: -13%;
  width: 20rem;
  height: 23.75rem;
}

.products__wrapper {
  position: relative;
  display: grid;
  grid-column-gap: 3.5rem;
}
.products__wrapper {
  padding: 3.5rem;
}
.products__wrapper {
  background: linear-gradient(180deg, #273851 0%, #1d223a 100%);
  border: 0.125rem solid rgb(75, 80, 103);
  border-radius: 1.5rem;
}
.product__txt {
  min-height: 6.75rem;
  max-width: 30rem;
  text-align: center;
}
.product__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-auto-rows: minmax(16rem, 1fr);
}
.product__item {
  display: grid;
}

.prod-card {
  position: relative;
  display: grid;
  justify-items: center;
  padding: 2rem 2rem 2.5rem;
  box-shadow: 0.25rem 1rem 1.25rem 0 #00233c, 0.25rem 1rem 3.75rem 0 rgba(0, 35, 60, 0.5);
  background: linear-gradient(180deg, rgba(90, 228, 170, 0.1) 0%, rgba(90, 228, 170, 0.05) 100%);
  border-radius: 1rem;
  text-align: center;
}
.prod-card__step {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0.4375rem 1rem 0.375rem;
  line-height: 1.5;
  background-color: #1b2036;
  border-radius: 1rem 0;
}
.prod-card__icon {
  position: relative;
  width: 7rem;
  height: 7rem;
  margin-bottom: 0.75rem;
}
.prod-card__icon::before {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #5ae4aa;
}
.product_gaming .prod-card__icon::before {
  color: #56adff;
}
.prod-card__icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 5.9375rem;
  height: 5.9375rem;
  border-radius: 100%;
  background: rgba(90, 228, 171, 0.45);
  filter: blur(1.5625rem);
  transition: all 0.3s ease-in-out;
}
.product_gaming .prod-card__icon::after {
  background: #56adff;
  background: rgba(86, 173, 255, 0.45);
}
.prod-card__caption {
  align-self: end;
  color: #5ae4aa;
}
.product_gaming .prod-card__caption {
  color: #56adff;
}

.milestones {
  position: relative;
}
.milestones::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0rem);
  height: 35rem;
  width: 35rem;
  background-color: #5ae4cb;
  border-radius: 100%;
  filter: blur(21.875rem);
}
.milestones__subtitle {
  max-width: 49.375rem;
}
.numbers__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.1875rem, 1fr));
  grid-gap: 2rem;
}
.numbers__item {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 1rem;
  padding: 2rem 2rem 1.5625rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(27, 32, 54, 0.15) 30%, #1b2036 100%);
}
.numbers__num {
  display: flex;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
}
.numbers__num span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.numbers__txt {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.5s;
}
.trust__title {
  text-align: center;
}
.trust__logos {
  position: relative;
  margin-right: -6.375rem;
  overflow: hidden;
}
.trust__logos::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: -0.0625rem;
  bottom: 0;
  width: 6.4375rem;
  background: linear-gradient(270deg, rgb(28, 33, 55) 58%, rgba(28, 33, 55, 0) 100%);
}
.trust__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.5rem;
  height: 8.25rem;
  border: 0.0625rem solid #5ae4aa;
  border-radius: 1rem;
}

.team__subtitle {
  max-width: 49.375rem;
}
.slider {
  position: relative;
}
.slider__slide {
  display: grid;
  justify-items: center;
  grid-gap: 0.75rem;
  padding: 2rem 2rem 2.5rem;
  border-radius: 1rem;
  background: radial-gradient(100% 100% at 49.87% 0%, #346160 0%, #242e43 58%);
}
.slider__photo, .slider__position {
  margin-bottom: 0.25rem;
}
.slider__photo {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  overflow: hidden;
}
.slider__photo-ibg img {
  width: 105%;
  height: 105%;
}
.slider__name {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
}
.slider__position {
  line-height: 1.5;
}
.slider__description {
  text-align: center;
  line-height: 1.5;
}
.slider__btn-next, .slider__btn-prev {
  position: absolute;
  top: 50%;
  transform: translate(0rem, -50%);
  z-index: 500 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btn-next, .slider__btn-prev {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.75rem);
  border-radius: 3.75rem;
  border: 0.0625rem solid transparent;
  transition: border 0.3s, color 0.3s;
}
.slider__btn-next.swiper-button-disabled::before, .slider__btn-prev.swiper-button-disabled::before {
  color: #53586e;
}
.slider__btn-prev::before {
  transform: rotate(-180deg);
}
@media (min-width: 48em){
  .h2 {
    margin-bottom: 2rem;
  }
  .h2 {
    font-size: 2.75rem;
  }
  .h1 {
    font-size: 3.5rem;
  }
  .social-links__list {
    grid-row-gap: 1.5rem;
  }
  .hero__title {
    margin-bottom: 2rem;
  }
  .hero__txt {
    margin-bottom: 3rem;
  }
  .products__wrapper {
    grid-row-gap: 5.5rem;
  }
  .product__list {
    grid-gap: 1.5rem;
  }
  .milestones__numbers {
    margin-bottom: 4rem;
  }
  .trust__title {
    margin-bottom: 2rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 48em){
  .h2 {
    margin-bottom: clamp( 1.5rem , 1.02290076335625rem  +  2.0356234097vw , 2rem );
  }
  .h2 {
    font-size: clamp( 2rem , 1.2843511450375rem  +  3.0534351145vw , 2.75rem );
  }
  .h1 {
    font-size: clamp( 2.5rem , 1.54580152671875rem  +  4.0712468193vw , 3.5rem );
  }
  .wrap {
    padding-inline: clamp( 6.25e-8rem , -1.312022778625rem  +  5.5979641221vw , 1.375rem );
  }
  .page__hero {
    margin-bottom: clamp( 5.5rem , 4.54580152671875rem  +  4.0712468193vw , 6.5rem );
  }
  .page__milestones {
    margin-bottom: clamp( 5.5rem , 4.54580152671875rem  +  4.0712468193vw , 6.5rem );
  }
  .social-links__list {
    grid-row-gap: clamp( 1rem , 0.52290076335625rem  +  2.0356234097vw , 1.5rem );
  }
  .hero__title {
    margin-bottom: clamp( 1.5rem , 1.02290076335625rem  +  2.0356234097vw , 2rem );
  }
  .hero__txt {
    margin-bottom: clamp( 2.5rem , 2.02290076335625rem  +  2.0356234097vw , 3rem );
  }
  .products__wrapper {
    grid-row-gap: clamp( 4rem , 2.568702290075rem  +  6.106870229vw , 5.5rem );
  }
  .products__wrapper {
    margin-inline: clamp( -1rem , -3.26622137404375rem  +  9.6692111959vw , 1.375rem );
  }
  .products__wrapper {
    padding-inline: clamp( 1.375rem , 0.30152671755625rem  +  4.5801526718vw , 2.5rem );
  }
  .products__wrapper {
    padding-bottom: clamp( 1.875rem , 1.2786259542rem  +  2.5445292621vw , 2.5rem );
  }
  .products__wrapper {
    padding-top: clamp( 2.375rem , 2.2557251908375rem  +  0.5089058524vw , 2.5rem );
  }
  .product__list {
    grid-gap: clamp( 1rem , 0.52290076335625rem  +  2.0356234097vw , 1.5rem );
  }
  .milestones__numbers {
    margin-bottom: clamp( 2.5rem , 1.068702290075rem  +  6.106870229vw , 4rem );
  }
  .numbers__list {
    grid-gap: clamp( 1rem , 0.52290076335625rem  +  2.0356234097vw , 1.5rem );
  }
  .trust__title {
    margin-bottom: clamp( 1.5rem , 1.02290076335625rem  +  2.0356234097vw , 2rem );
  }
  .trust__logos {
    margin-right: clamp( -2.4375rem , 0.37166030534375rem  +  -5.8524173028vw , -1rem );
  }
  .trust__logos::before {
    width: clamp( 1rem , -0.37166030534375rem  +  5.8524173028vw , 2.4375rem );
  }
}
@media (max-width: 23.4375em){
  .h2 {
    margin-bottom: 1.5rem;
  }
  .h2 {
    font-size: 2rem;
  }
  .h1 {
    font-size: 2.5rem;
  }
  .h2-footer {
    font-size: 1.625rem;
  }
  .txt {
    margin-bottom: 2.5rem;
  }
  .wrap {
    padding-inline: 6.25e-8rem;
  }
  .page__hero {
    margin-bottom: 5.5rem;
  }
  .page__milestones {
    margin-bottom: 5.5rem;
  }
  .page__milestones {
    padding-top: 5.375rem;
  }
  .page__team {
    margin-bottom: 2.5rem;
  }
  .footer__title {
    margin-bottom: 1.5rem;
  }
  .social-links__list {
    grid-row-gap: 1rem;
  }
  .hero__content {
    padding-top: 2rem;
  }
  .hero__title {
    margin-bottom: 1.5rem;
  }
  .hero__txt {
    margin-bottom: 2.5rem;
  }
  .products__wrapper {
    grid-row-gap: 4rem;
  }
  .products__wrapper {
    margin-inline: -1rem;
  }
  .products__wrapper {
    padding-inline: 1.375rem;
  }
  .products__wrapper {
    padding-bottom: 1.875rem;
  }
  .products__wrapper {
    padding-top: 2.375rem;
  }
  .product__list {
    grid-gap: 1rem;
  }
  .milestones__numbers {
    margin-bottom: 2.5rem;
  }
  .numbers__list {
    grid-gap: 1rem;
  }
  .numbers__list {
    grid-gap: 0.5rem;
  }
  .numbers__item {
    grid-gap: 0.5rem;
    padding: 1.5rem;
  }
  .numbers__num {
    font-size: 2.5rem;
  }
  .trust__title {
    margin-bottom: 1.5rem;
  }
  .trust__logos {
    margin-right: -1rem;
  }
  .trust__logos::before {
    width: 1rem;
  }
  .trust__logo {
    width: 12.5rem;
    height: 7.5rem;
  }
  .slider__btn-next, .slider__btn-prev {
    height: 2.5rem;
  }
  .slider__btn-next, .slider__btn-prev {
    width: 2.5rem;
  }
  .slider__btn-prev {
    left: -1rem;
  }
  .slider__btn-next {
    right: -1rem;
  }
}
@media (min-width: 47.9375em){
  .h2-footer {
    font-size: 1.75rem;
  }
  .txt {
    margin-bottom: 3.5rem;
  }
  .page__team {
    margin-bottom: 4rem;
  }
  .footer__title {
    margin-bottom: 2rem;
  }
  .slider__btn-next, .slider__btn-prev {
    height: 4.5rem;
  }
  .slider__btn-next, .slider__btn-prev {
    width: 4.5rem;
  }
  .slider__btn-prev {
    left: -2.25rem;
  }
  .slider__btn-next {
    right: -2.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 47.9375em){
  .h2-footer {
    font-size: clamp( 1.625rem , 1.50542091836875rem  +  0.5102040816vw , 1.75rem );
  }
  .txt {
    margin-bottom: clamp( 2.5rem , 1.5433673469375rem  +  4.0816326531vw , 3.5rem );
  }
  .page__milestones {
    padding-top: clamp( 5.375rem , 4.53794642856875rem  +  3.5714285714vw , 6.25rem );
  }
  .page__team {
    margin-bottom: clamp( 2.5rem , 1.06505102040625rem  +  6.1224489796vw , 4rem );
  }
  .footer__title {
    margin-bottom: clamp( 1.5rem , 1.02168367346875rem  +  2.0408163265vw , 2rem );
  }
  .slider__btn-next, .slider__btn-prev {
    height: clamp( 2.5rem , 0.586734693875rem  +  8.1632653061vw , 4.5rem );
  }
  .slider__btn-next, .slider__btn-prev {
    width: clamp( 2.5rem , 0.586734693875rem  +  8.1632653061vw , 4.5rem );
  }
  .slider__btn-prev {
    left: clamp( -2.25rem , 0.195790816325rem  +  -5.1020408163vw , -1rem );
  }
  .slider__btn-next {
    right: clamp( -2.125rem , 0.07621173469375rem  +  -4.5918367347vw , -1rem );
  }
}
@media (max-width: 87.5em){
  .wrap {
    padding-inline: 1.40625rem;
  }
  .products__wrapper {
    margin-inline: 1.40625rem;
  }
}
@media (max-width: 47.99875em){
  .footer {
    margin-bottom: 7.875rem;
  }
  .hero__content {
    padding-top: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 23.4375em){
  .footer {
    margin-bottom: clamp( 5.5rem , 2.59090909090625rem  +  14.5454545455vw , 6rem );
  }
}
@media (max-width: 20em){
  .footer {
    margin-bottom: 5.5rem;
  }
  .hero__images_left {
    left: -14.6875rem;
  }
  .hero__images_right {
    right: -15.9375rem;
  }
}
@media (min-width: 47.99875em){
  .social-links__list {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
@media (any-hover: hover){
  .social-links__link:hover .social-links__icon::after {
    width: 107%;
    height: 107%;
    filter: blur(0.8125rem);
  }
  .hero__btn:hover {
    background: rgb(68.0859375, 224.4140625, 158.7109375);
    box-shadow: 0 0 0.625rem rgba(90, 228, 170, 0.7);
  }
  .prod-card:hover .prod-card__icon::after {
    width: 105x;
    height: 6.5625rem;
    filter: blur(2.1875rem);
  }
  .slider__btn-next:hover, .slider__btn-prev:hover {
    color: #5ae4aa;
    border: 0.0625rem solid #5ae4aa;
  }
}
@media (max-width: 61.99875em){
  .hero__content {
    max-width: 35rem;
  }
  .product__list {
    grid-auto-rows: minmax(14.125rem, 1fr);
  }
}
@media (min-width: 61.9375em){
  .hero__btn {
    width: 10.1875rem;
  }
  .hero__btn {
    height: 3.5rem;
  }
}
@media (min-width: 48em) and (max-width: 61.9375em){
  .hero__btn {
    width: clamp( 9.6875rem , 7.96552690583125rem  +  3.5874439462vw , 10.1875rem );
  }
  .hero__btn {
    height: clamp( 3rem , 1.27802690583125rem  +  3.5874439462vw , 3.5rem );
  }
}
@media (max-width: 48em){
  .hero__btn {
    width: 9.6875rem;
  }
  .hero__btn {
    height: 3rem;
  }
}
@media (min-width: 84.375em){
  .hero__images_left {
    left: -0.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em){
  .hero__images_left {
    left: clamp( -14.6875rem , -19.0758495145625rem  +  21.9417475728vw , -0.5625rem );
  }
}
@media (min-width: 75em){
  .hero__images_right {
    right: 0.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em){
  .hero__images_right {
    right: clamp( -15.9375rem , -21.89204545454375rem  +  29.7727272727vw , 0.4375rem );
  }
}
@media (max-width: 84.375em){
  .products__wrapper {
    padding: 2.5rem 2rem;
  }
}
@media (min-width: 81.25em){
  .products__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .products__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0rem);
    height: 100%;
    width: 0.0625rem;
    background: linear-gradient(180deg, rgba(149, 159, 205, 0) 0%, rgb(149, 159, 205) 50%, rgba(149, 159, 205, 0) 100%);
  }
}
@media (max-width: 46.875em){
  .product__list {
    grid-auto-rows: minmax(12.875rem, 1fr);
  }
  .prod-card {
    padding: 1.25rem 1.5rem 2rem 1.5rem;
  }
}
@media (max-width: 78.125em){
  .numbers__list {
    grid-gap: 1.5rem;
  }
}
@media (min-width: 23.5em){
  .numbers__list {
    grid-auto-rows: minmax(8.375rem, 1fr);
  }
}
@media (max-width: 90.625em){
  .trust__logos {
    margin-right: -2.4375rem;
  }
  .trust__logos::before {
    width: 2.4375rem;
    background: linear-gradient(270deg, rgb(28, 33, 55), rgba(28, 33, 55, 0) 100%);
  }
}