<nav data-fls-navigation class="main-menu">
   <!-- @@include('./admin/adminToolsSwitch.html',{}) -->
   <ul class="main-menu__list list">
      <li class="main-menu__items" data-name="textile">
         <div class="main-menu__link">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-merchandise"></use>
            </svg>
            <div class="main-menu__content">
               <p>Текстиль</p>
            </div>
         </div>
      </li>
      <li class="main-menu__items" data-name="dishes">
         <div class="main-menu__link">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-mugs"></use>
            </svg>
            <div class="main-menu__content">
               <p>Чашки</p>
            </div>
         </div>
      </li>
      <li class="main-menu__items" data-name="electronics">
         <div class="main-menu__link">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-flash-drives"></use>
            </svg>
            <div class="main-menu__content">
               <p>Електроніка</p>
            </div>
         </div>
      </li>
      <li class="main-menu__items">
         <a class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-umbrellas"></use>
            </svg>
            <div class="main-menu__content">
               <p>Парасольки</p>
            </div>
         </a>
      </li>
      <li class="main-menu__items">
         <a class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-braslets"></use>
            </svg>
            <div class="main-menu__content">
               <p>Браслети</p>
            </div>
         </a>
      </li>
      <li class="main-menu__items">
         <a class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-baloons"></use>
            </svg>
            <div class="main-menu__content">
               <p>Шари</p>
            </div>
         </a>
      </li>
      <li class="main-menu__items" data-name="bags">
         <div class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-bags"></use>
            </svg>
            <div class="main-menu__content">
               <p>Сумки та пакети</p>
            </div>
         </div>
      </li>
      <li class="main-menu__items">
         <a class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-notebooks"></use>
            </svg>
            <div class="main-menu__content">
               <p>Блокноти</p>
            </div>
         </a>
      </li>
      <li class="main-menu__items" data-name="caps">
         <div class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-caps"></use>
            </svg>
            <div class="main-menu__content">
               <p>кепки</p>
            </div>
         </div>
      </li>
      <li class="main-menu__items">
         <a class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-keychains"></use>
            </svg>
            <div class="main-menu__content">
               <p>Брелоки</p>
            </div>
         </a>
      </li>
      <li class="main-menu__items">
         <a class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-lighters"></use>
            </svg>
            <div class="main-menu__content">
               <p>Запальнички</p>
            </div>
         </a>
      </li>
      <li class="main-menu__items" data-name="pens">
         <div class="main-menu__link" href="#">
            <svg class="main-menu__svg">
               <use xlink:href="__spritemap#sprite-pens"></use>
            </svg>
            <div class="main-menu__content">
               <p>Ручки</p>
            </div>
         </div>
      </li>
   </ul>
</nav>
<div class="nav-items">
   <!-- Блок групи товарів для навігації (Текстиль) -->
   <div class="group-wrapper _textile-wrapper" data-name="textile">
      <div class="group-block textil">
         <!-- Блок заголовка групи товарів -->
         <div class="signboard">
            <div class="signboard__img">
               <svg class="signboard__svg">
                  <use xlink:href="__spritemap#sprite-merchandise"></use>
               </svg>
            </div>
            <div class="signboard__txt">
               <h2 class="signboard__title">Текстиль</h2>
               <p class="signboard__paragraph">Текстильні віроби з лого</p>
            </div>
         </div>

         <!-- Горизонтальний великий блок (2 колонки, 3 рядка текста) -->
         <div class="type-board type-board-textil horizontal-large">
            <div class="type-board__img">
               <svg class="type-board__svg">
                  <use xlink:href="__spritemap#sprite-gruop-tshirt"></use>
               </svg>
            </div>
            <div class="type-board__txt">
               <a href="" title="" class="type-board__link">Друк на футболках</a>
               <a href="" title="" class="type-board__link">Каталог футболок</a>
               <a href="" title="" class="type-board__link">Футболки зі своїм принтом</a>
            </div>
         </div>
         <!-- Горизонтальний великий блок (2 колонки, 3 рядка текста) -->
         <div class="type-board type-board-textil horizontal-large">
            <div class="type-board__img">
               <svg class="type-board__svg">
                  <use xlink:href="__spritemap#sprite-gruop-hoodi"></use>
               </svg>
            </div>
            <div class="type-board__txt">
               <a href="" title="" class="type-board__link">Друк на толстовках</a>
               <a href="" title="" class="type-board__link">Каталог толстовок</a>
               <a href="" title="" class="type-board__link">Худі зі своїм принтом</a>
            </div>
         </div>

         <!-- Вертикальний блок -->
         <a href="" title="" class="type-board type-board-textil vertical">
            <div class="vertical__img">
               <svg class="vertical__svg">
                  <use xlink:href="__spritemap#sprite-gruop-ua-tshirt"></use>
               </svg>
            </div>
            <div class="type-board__txt">
                  <p class="type-board__paragraph">Патріотичні<br>футболки</p>
            </div>
         </a>
         <!-- Вертикальний блок -->
         <a href="" title="" class="type-board type-board-textil vertical">
            <div class="vertical__img">
               <svg class="vertical__svg">
                  <use xlink:href="__spritemap#sprite-gruop-ua-hoodi"></use>
               </svg>
            </div>
            <div class="type-board__txt">
                  <p class="type-board__paragraph">Патріотичні<br>худі</p>
            </div>
         </a>

         <!-- Горизонтальний маленький блок (1 колонка, 1 рядок текста) -->
         <a href="" title="" class="type-board type-board-textil horizontal-small">
            <div class="horizontal-small__txt">
               <p class="horizontal-small__paragraph">Жилети</p>
            </div>
         </a>
         <!-- Горизонтальний маленький блок (1 колонка, 1 рядок текста) -->
         <a href="" title="" class="type-board type-board-textil horizontal-small">
            <div class="horizontal-small__txt">
               <p class="horizontal-small__paragraph">Пледи</p>
            </div>
         </a>
         <!-- Горизонтальний маленький блок (1 колонка, 1 рядок текста) -->
         <a href="" title="" class="type-board type-board-textil horizontal-small">
            <div class="horizontal-small__txt">
               <p class="horizontal-small__paragraph">Комбінезони</p>
            </div>
         </a>
         <!-- Горизонтальний маленький блок (1 колонка, 1 рядок текста) -->
         <a href="" title="" class="type-board type-board-textil horizontal-small">
            <div class="thorizontal-small__txt">
               <p class="horizontal-small__paragraph">Маски</p>
            </div>
         </a>

         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-textil horizontal-mid">
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-cap"></use>
               </svg>
            </div>
            <a href="" title="" class="type-board__link">Друк на кепках</a>
            <a href="" title="" class="type-board__link">Каталог кепок</a>    
         </div>
         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-textil horizontal-mid">
            <a href="" title="" class="type-board__link">Друк на поло</a>
            <a href="" title="" class="type-board__link">Каталог тенісок</a>
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-polo"></use>
               </svg>
            </div>
         </div>
         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-textil horizontal-mid">
            <a href="" title="" class="type-board__link">Друк на еко-сумках</a>
            <a href="" title="" class="type-board__link">Каталог шоперів</a>
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-bag"></use>
               </svg>
            </div>
         </div>
      </div>

   </div>

   <!-- Блок групи товарів для навігації (Посуд) -->
   <div class="group-wrapper _dishes-wrapper" data-name="dishes">
      <div class="group-block dishes">
         <!-- Блок заголовка групи товарів -->
         <div class="signboard _dishes">
            <div class="signboard__img">
               <svg class="signboard__svg">
                  <use xlink:href="__spritemap#sprite-mugs"></use>
               </svg>
            </div>
            <div class="signboard__txt">
               <h2 class="signboard__title">Текстиль</h2>
               <p class="signboard__paragraph">Текстильні віроби з лого</p>
            </div>
         </div>

         <!-- Горизонтальний великий блок (2 колонки, 3 рядка текста) -->
         <div class="type-board type-board-dishes horizontal-large">
            <div class="type-board__img">
               <svg class="type-board__svg">
                  <use xlink:href="__spritemap#sprite-gruop-tshirt"></use>
               </svg>
            </div>
            <div class="type-board__txt">
               <a href="" title="" class="type-board__link">Друк на футболках</a>
               <a href="" title="" class="type-board__link">Каталог футболок</a>
               <a href="" title="" class="type-board__link">Футболки зі своїм принтом</a>
            </div>
         </div>

         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-dishes horizontal-mid">
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-cap"></use>
               </svg>
            </div>
            <a href="" title="" class="type-board__link">Друк на кепках</a>
            <a href="" title="" class="type-board__link">Каталог кепок</a>    
         </div>
         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-dishes horizontal-mid">
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-cap"></use>
               </svg>
            </div>
            <a href="" title="" class="type-board__link">Друк на кепках</a>
            <a href="" title="" class="type-board__link">Каталог кепок</a>    
         </div>
         
         <!-- Вертикальний блок -->
         <a href="" title="" class="type-board type-board-dishes vertical">
            <div class="vertical__img">
               <svg class="vertical__svg">
                  <use xlink:href="__spritemap#sprite-gruop-ua-tshirt"></use>
               </svg>
            </div>
            <div class="type-board__txt">
                  <p class="type-board__paragraph">Патріотичні<br>футболки</p>
            </div>
         </a>
      </div>

   </div>

   <!-- Блок групи товарів для навігації (Електроніка) -->
   <div class="group-wrapper _electronics-wrapper" data-name="electronics">
      <div class="group-block electronics">
         <!-- Блок заголовка групи товарів -->
         <div class="signboard _electronics">
            <div class="signboard__img">
               <svg class="signboard__svg">
                  <use xlink:href="__spritemap#sprite-mugs"></use>
               </svg>
            </div>
            <div class="signboard__txt">
               <h2 class="signboard__title">Текстиль</h2>
               <p class="signboard__paragraph">Текстильні віроби з лого</p>
            </div>
         </div>

         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-electronics horizontal-mid">
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-cap"></use>
               </svg>
            </div>
            <a href="" title="" class="type-board__link">Друк на кепках</a>
            <a href="" title="" class="type-board__link">Каталог кепок</a>    
         </div>
         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-electronics horizontal-mid">
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-cap"></use>
               </svg>
            </div>
            <a href="" title="" class="type-board__link">Друк на кепках</a>
            <a href="" title="" class="type-board__link">Каталог кепок</a>    
         </div>
      </div>

   </div>

   <!-- Блок групи товарів для навігації (Сумки та пакети) -->
   <div class="group-wrapper _bags-wrapper" data-name="bags">
      <div class="group-block bags">
         <!-- Блок заголовка групи товарів -->
         <div class="signboard _bags">
            <div class="signboard__img">
               <svg class="signboard__svg">
                  <use xlink:href="__spritemap#sprite-merchandise"></use>
               </svg>
            </div>
            <div class="signboard__txt">
               <h2 class="signboard__title">Текстиль</h2>
               <p class="signboard__paragraph">Текстильні віроби з лого</p>
            </div>
         </div>

         <!-- Горизонтальний великий блок (2 колонки, 3 рядка текста) -->
         <div class="type-board type-board-bags horizontal-large">
            <div class="type-board__img">
               <svg class="type-board__svg">
                  <use xlink:href="__spritemap#sprite-gruop-tshirt"></use>
               </svg>
            </div>
            <div class="type-board__txt">
               <a href="" title="" class="type-board__link">Друк на футболках</a>
               <a href="" title="" class="type-board__link">Каталог футболок</a>
               <a href="" title="" class="type-board__link">Футболки зі своїм принтом</a>
            </div>
         </div>

         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-bags horizontal-mid">
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-cap"></use>
               </svg>
            </div>
            <a href="" title="" class="type-board__link">Друк на кепках</a>
            <a href="" title="" class="type-board__link">Каталог кепок</a>    
         </div>
         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-bags horizontal-mid">
            <a href="" title="" class="type-board__link">Друк на поло</a>
            <a href="" title="" class="type-board__link">Каталог тенісок</a>
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-polo"></use>
               </svg>
            </div>
         </div>

         <!-- Горизонтальний маленький блок (1 колонка, 1 рядок текста) -->
         <a href="" title="" class="type-board type-board-bags horizontal-small">
            <div class="horizontal-small__txt">
               <p class="horizontal-small__paragraph">Жилети</p>
            </div>
         </a>
      </div>

   </div>
   
   <!-- Блок групи товарів для навігації (Кепки) -->
   <div class="group-wrapper _caps-wrapper" data-name="caps">
      <div class="group-block caps">
         <!-- Блок заголовка групи товарів -->
         <div class="signboard _caps">
            <div class="signboard__img">
               <svg class="signboard__svg">
                  <use xlink:href="__spritemap#sprite-merchandise"></use>
               </svg>
            </div>
            <div class="signboard__txt">
               <h2 class="signboard__title">Текстиль</h2>
               <p class="signboard__paragraph">Текстильні віроби з лого</p>
            </div>
         </div>

         <!-- Горизонтальний середній блок (2 колонки, 2 рядка текста) -->
         <div class="type-board type-board-caps horizontal-mid">
            <div class="horizontal-mid__img">
               <svg class="horizontal-mid__svg">
                  <use xlink:href="__spritemap#sprite-gruop-cap"></use>
               </svg>
            </div>
            <a href="" title="" class="type-board__link">Друк на кепках</a>
            <a href="" title="" class="type-board__link">Каталог кепок</a>    
         </div>
      </div>
   </div>

   <!-- Блок групи товарів для навігації (Ручки) -->
   <div class="group-wrapper _pens-wrapper" data-name="pens">
      <div class="group-block pens">
         <!-- Блок заголовка групи товарів -->
         <div class="signboard _pens">
            <div class="signboard__img">
               <svg class="signboard__svg">
                  <use xlink:href="__spritemap#sprite-mugs"></use>
               </svg>
            </div>
            <div class="signboard__txt">
               <h2 class="signboard__title">Текстиль</h2>
               <p class="signboard__paragraph">Текстильні віроби з лого</p>
            </div>
         </div>

         <!-- Горизонтальний великий блок (2 колонки, 3 рядка текста) -->
         <div class="type-board type-board-pens horizontal-large">
            <div class="type-board__img">
               <svg class="type-board__svg">
                  <use xlink:href="__spritemap#sprite-gruop-tshirt"></use>
               </svg>
            </div>
            <div class="type-board__txt">
               <a href="" title="" class="type-board__link">Друк на футболках</a>
               <a href="" title="" class="type-board__link">Каталог футболок</a>
               <a href="" title="" class="type-board__link">Футболки зі своїм принтом</a>
            </div>
         </div>
      </div>

   </div>
</div>
