// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: "Roboto"; // Шрифт за замовчуванням
$fontSize: 18; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$primaryColor: #1b2036;
$accentColor: #5ae4aa;
$secPrimaryColor: #56adff;

$textPrimary: #fff;
$textSecondary: #d2d6db;

$iconPrimary: #323232;
$darkTransparent: rgba(0, 0, 0, 0.3);

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1310;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 32;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Змінні
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$maxHeightMobileLandscape: 500px;
//$widthMinMobile: 321px;
$mobileMediumWidth: 376px;
$mobileClassicWidth: 426px;
$tabletWidth: 768px;
$desctopSmallWidth: 1024px;
$desctopLargeWidth: 1440px;

//міксин задає колір та блюр
@mixin blur($color) {
	background: $colorBlur;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(10px);
}
