@use "sass:math"; // Підключення бібліотек (викор-ня математичних інструментів у Sass)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
//
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

body {
	min-width: #{$minWidth}px;
	color: $textPrimary;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;
	background-color: $primaryColor;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
		} @else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}
		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту

.title-h {
	font-weight: 700;
	line-height: 1.2;
}

.h2 {
	@include adaptiveValue("font-size", 44, 32, 0, 768, 375);
}

.h1 {
	@include adaptiveValue("font-size", 56, 40, 0, 768, 375);
}

.h2-footer {
	font-size: 28px;
}

.caption {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
}

.txt {
	line-height: 1.5;
}

// --- Images ------------------------

[class*="-ibg"] {
	position: relative;
}

[class*="-ibg"] img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

[class*="-ibg--contain"] img {
	-o-object-fit: contain;
	object-fit: contain;
}

// --- PAGE ---------------------

.page {
	// .page__hero
	&__hero {
		margin-bottom: 160px;
		@include adaptiveValue("margin-bottom", 104, 88, 3, 768, 375);
	}

	// .page__products
	&__products {
		margin-bottom: 120px;
		@include adaptiveValue("margin-bottom", 104, 88, 3, 768, 375);
	}
}
