<div data-fls-leftSideBar class="left-side-bar">
   <ul class="left-side-bar__list">
      <li class="left-side-bar__items">
         <button class="left-side-bar__link" type="button" data-name="logIn" title="Особистий кабінет">
            <svg class="left-side-bar__svg">
               <use xlink:href="__spritemap#sprite-login"></use>
            </svg>
         </button>
      </li>
      <!--<li class="left-side-bar__items">
         <a class="left-side-bar__link" href="#">
            <svg class="left-side-bar__svg">
               <use xlink:href="@img/icons/icons.svg#messenger"></use>
            </svg>
         </a>
      </li>-->
      <li class="left-side-bar__items">
         <a class="left-side-bar__link" href="#" title="Viber">
            <svg class="left-side-bar__svg">
               <use xlink:href="__spritemap#sprite-viber"></use>
            </svg>
         </a>
      </li>
      <li class="left-side-bar__items">
         <a class="left-side-bar__link" href="#" title="Telegram">
            <svg class="left-side-bar__svg">
               <use xlink:href="__spritemap#sprite-telegram"></use>
            </svg>
         </a>
      </li>
      <li class="left-side-bar__items">
         <button class="left-side-bar__link" type="button" data-name="phone" title="Номери контактних телефонів">
            <svg class="left-side-bar__svg">
               <use xlink:href="__spritemap#sprite-phones"></use>
            </svg>
         </button>
         <div class="group-block left-side-bar__contacts _contacts" data-name="phone">
            <div class="type-board left-side-bar__contacts-item">
               <p class="type-board__paragraph">+38&nbsp;095&nbsp;931&nbsp;76&nbsp;31</p>
            </div>
         </div>
      </li>
      <li class="left-side-bar__items">
         <button class="left-side-bar__link" type="button" data-name="mail" title="Контактний E-mail">
            <svg class="left-side-bar__svg">
               <use xlink:href="__spritemap#sprite-eMail"></use>
            </svg>
         </button>
         <div class="group-block left-side-bar__contacts _contacts" data-name="mail">
            <div class="type-board left-side-bar__contacts-item">
               <p class="type-board__paragraph">info@megakompromis.com.ua</p>
            </div>
         </div>
      </li>
      <li class="left-side-bar__items">
         <button class="burger-menu" type="button" title="Головне меню">
            <div class="burger-menu__line"></div>
         </button>
      </li>
   </ul>
</div>