.left-side-bar{
   position: fixed;
   bottom: 0;
   left: 0;
   display: grid;
   align-items: center;
   justify-items: stretch;

   width: 100%;
   height: 56px;
   
   // @include blur($colorBlur);
   z-index: 4;
   @media (min-width: $desctopSmallWidth) {
      width: 60px;
      height: 100vh;
      justify-content: center;
      align-items: stretch;
      box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
   }
   &__list{
      display: flex;
      justify-content: space-evenly;
      //width: 100%;
      margin: 0;
      @media (min-width: $mobileClassicWidth) {
         margin: 0 max(0, 5%);
      }

      @media (min-width: $desctopSmallWidth) {
         flex-direction: column;
         margin: max(0, 10vh) 0;
         //margin:  auto 0;

      }
   }
   &__items {
      
      margin: 0 3px;
      cursor: pointer;

      @media (min-width: $desctopSmallWidth) {
         position: relative;
         margin: 3px 0;

      }
   }
   &__link{
      display: block;
      width: 40px;
      height: 40px;

      background-color: rgba(246, 246, 246, 0);

      cursor: pointer;
   }
   &__svg{
      width: 40px;
      height: 40px;
      fill: #6F6F6F;

      cursor: pointer;
   }

   &__contacts {
      position: fixed;
      padding: 8px;
      position: absolute;

      bottom: -110%;
      left: 50%;
      transform: translateX(-50%);

      opacity: 0;

      transition: all .3s;

      
      @media (min-width: $desctopSmallWidth) {
         bottom: auto;
         top: 50%;
         left: -50vw;

         transform: translateY(-50%);
      }

      &._show {
         opacity: 1;
         bottom: 64px;
         
         @media (min-width: $desctopSmallWidth) {
            bottom: auto;
            left: calc(100% + 18px);
         }
      }
   }
   &__contacts-item {
      display: flex;
      flex-direction: column;
      padding: 8px;

   }
}

.burger-menu {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;

   background-color: rgba(246, 246, 246, 0);
   @media (orientation: landscape) {
      grid-row: 3/4;
   }
   &__line {
      content: "";
      display: inline-block;
      position: absolute;
      width: 70%;
      height: 4px;
      background-color: #6F6F6F;
      transition: all 0.3s;
      &::before {
         content: "";
         position: absolute;
         top: -10px;
         left: 0;
         width: 100%;
         height: 4px;
         background-color: #6F6F6F;
      }
      &::after {
         content: "";
         position: absolute;
         top: 10px;
         left: 0;
         width: 100%;
         height: 4px;
         background-color: #6F6F6F;
      }
   }
   &._action {
      .burger-menu__line {
         content: "";
         //display: none;
         position: absolute;
         transform: rotate(-45deg);
         width: 70%;
         height: 4px;
         background-color: #6F6F6F;
         transition: all 0.3s;
         &::before {
            content: "";
            position: absolute;
            transform: rotate(90deg);
            top: 0;
            width: 100%;
            height: 4px;
            background-color: #6F6F6F;
         }
         &::after {
            content: "";
            display: none;
            position: absolute;
            top: 10px;
            width: 100%;
            height: 4px;
            background-color: #6F6F6F;
         }
      }
   }
}