@use "sass:color";

// HERO - section
.hero {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		width: 1800px;
		height: 1800px;
		top: -950px;
		left: 50%;
		transform: translate(-50%, 0px);
		background-image: url("@img/shine.svg");
		background-position: center center; /* x y */
		background-size: cover;
		background-repeat: no-repeat;

		opacity: 0.8;
	}

	// .hero__container
	&__container {
		position: relative;
	}

	// .hero__content
	&__content {
		position: relative;
		z-index: 7;

		margin: 0 auto;
		padding-top: 96px;
		text-align: center;

		max-width: 795px;

		@media (max-width: toEm($tablet)) {
			max-width: 560px;
		}

		@media (max-width: toEm($mobile)) {
			padding-top: 48px;
		}

		@media (max-width: toEm(375)) {
			padding-top: 32px;
		}
	}

	// .hero__title
	&__title {
		@include adaptiveValue("margin-bottom", 32, 24, 0, 768, 375);
	}

	// .hero__txt
	&__txt {
		@include adaptiveValue("margin-bottom", 48, 40, 0, 768, 375);
	}

	// .hero__btn
	&__btn {
		display: inline-flex;
		align-items: center;
		border-radius: 10px;
		padding: 10px 24px;
		width: 163px;
		height: 56px;

		background: $accentColor;
		color: $primaryColor;
		font-weight: 700;
		font-size: 13px;
		line-height: 150%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-wrap: nowrap;

		transition:
			background-color 0.3s ease,
			box-shadow 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background: color.adjust($accentColor, $lightness: -5%);
				box-shadow: 0 0 10px rgba($accentColor, 0.7);
			}
		}
	}

	// .hero__images
	&__images {
		// .hero__images_left
		&_left {
			position: absolute;
			top: 8px;
			// left: -9px;
			// left: -235px;
			@include adaptiveValue("left", -9, -235, 0, 1350, 320);
		}

		// .hero__images_right
		&_right {
			position: absolute;
			// right: 7px;
			// right: -255px;
			@include adaptiveValue("right", 7, -255, 0, 1200, 320);
			top: 8px;
		}
	}

	// .hero__cardano
	&__cardano {
		position: absolute;
		top: 20.869565%; /* 96/460 */
		right: 2.5%; /* 8/320 */

		width: 320px;
		height: 320px;
	}

	// .hero__bitcoin
	&__bitcoin {
		width: 360px;
		height: 360px;
	}

	// .hero__chips
	&__chips {
		position: relative;
		z-index: 5;
	}

	// .hero__chips-l
	&__chips-l {
		width: 320px;
		height: 460px;
	}

	// .hero__chips-r
	&__chips-r {
		position: absolute;
		top: 15.5%;
		right: -13%;

		width: 320px;
		height: 380px;
	}
}

// PRODUCTS - section
.products {
	// .products__container
	&__container {
	}

	// .products__wrapper
	&__wrapper {
		position: relative;

		display: grid;
		grid-column-gap: 56px;
		@include adaptiveValue("grid-row-gap", 88, 64, 0, 768, 375);

		// --- margin ---
		@media (max-width: toEm(1400)) {
			margin-inline: 22.5px;
		}
		@include adaptiveValue("margin-inline", 22, -16, 3, 768, 375);
		// --- padding ---
		padding: 56px;
		@media (max-width: toEm(1350)) {
			padding: 40px 32px;
		}
		@include adaptiveValue("padding-inline", 40, 20, 3, 768, 375);

		background: linear-gradient(180deg, #273851 0%, #1d223a 100%);
		border: 2px solid rgba(75, 80, 103, 1);
		border-radius: 24px;

		@media (min-width: toEm(1300)) {
			grid-template-columns: 1fr 1fr;

			// --- vertical line ---
			&::before {
				content: "";

				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0px);

				height: 100%;
				width: 1px;
				background: linear-gradient(
					180deg,
					rgba(149, 159, 205, 0) 0%,
					rgba(149, 159, 205, 1) 50%,
					rgba(149, 159, 205, 0) 100%
				);
			}
		}
	}

	// .products__product
	&__product {
	}
}

.product {
	// .product_learning
	&_learning {
	}

	// .product_gaming
	&_gaming {
	}

	// .product__title
	&__title {
		margin-bottom: 32px;

		text-align: center;
	}

	// .product__txt
	&__txt {
		min-height: 108px;
		max-width: 480px;
		margin: 0px auto 56px;

		text-align: center;
	}

	// .product__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
		grid-auto-rows: minmax(256px, 1fr);
		@include adaptiveValue("grid-gap", 24, 16, 0, 768, 375);

		@media (max-width: toEm($tablet)) {
			grid-auto-rows: minmax(226px, 1fr);
		}

		@media (max-width: toEm(750)) {
			grid-auto-rows: minmax(206px, 1fr);
		}
	}

	// .product__item
	&__item {
		display: grid;
	}
}

.prod-card {
	position: relative;

	display: grid;
	justify-items: center;

	padding: 32px 32px 40px;

	box-shadow:
		4px 16px 20px 0 #00233c,
		4px 16px 60px 0 rgba(0, 35, 60, 0.5);
	background: linear-gradient(180deg, rgba(90, 228, 170, 0.1) 0%, rgba(90, 228, 170, 0.05) 100%);
	border-radius: 16px;
	text-align: center;

	@media (max-width: toEm(750)) {
		padding: 20px 24px 32px 24px;
	}

	// .prod-card__step
	&__step {
		position: absolute;
		z-index: 10;

		top: 0;
		left: 0;
		padding: 7px 16px 6px;

		line-height: 1.5;
		background-color: $primaryColor;
		border-radius: 16px 0;
	}

	// .prod-card__icon
	&__icon {
		position: relative;

		width: 112px;
		height: 112px;
		margin-bottom: 12px;

		&::before {
			position: absolute;
			z-index: 5;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			font-size: 64px;
			color: $accentColor;

			.product_gaming & {
				color: $secPrimaryColor;
			}
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: "";

			width: 95px;
			height: 95px;

			border-radius: 100%;
			background: rgba(90, 228, 171, 0.45);
			filter: blur(25px);

			transition: all 0.3s ease-in-out;

			.product_gaming & {
				background: $secPrimaryColor;
				background: rgba(86, 173, 255, 0.45);
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			& .prod-card__icon::after {
				width: 105x;
				height: 105px;

				filter: blur(35px);
			}
		}
	}

	// .prod-card__caption
	&__caption {
		align-self: end;

		color: $accentColor;

		.product_gaming & {
			color: $secPrimaryColor;
		}
	}
}

// MILESTONES - section

.milestones {
	// .milestones__container
	&__container {
	}

	// .milestones__title
	&__title {
	}

	// .milestones__subtitle
	&__subtitle {
	}

	// .milestones__numbers
	&__numbers {
	}

	// .milestones__trust
	&__trust {
	}
}

.numbers {
	// .numbers__list
	&__list {
	}

	// .numbers__item
	&__item {
	}

	// .numbers__digit
	&__digit {
	}

	// .numbers__caption
	&__caption {
	}
}

.trust {
	// .trust__title
	&__title {
	}

	// .trust__logos
	&__logos {
	}

	// .trust__logo
	&__logo {
	}
}
