<script type="module" src="@components/custom/featch/featch.js"></script>

<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page">

	<!-- HERO - section -->
	<section class="page__hero hero">
		<div class="hero__container">

			<div class="hero__content">

				<h1 class="hero__title title-h h1">
					Open Rating<br> for Decentralized Blockchain
				</h1>
				<p class="hero__txt txt">
					A platform dedicated to cryptocurrencies and blockchain technologies in gambling/gaming. We help beginners understand and use cryptocurrencies so they can enjoy gambling, including both
					recreational and real money games.
				</p>
				<a href="#" class="hero__btn">start studying</a>

			</div>
			<div class="hero__images hero__images_left">
				<img class="hero__chips hero__chips-l" src="@img/cas-chips-left@1x.png" srcset="@img/cas-chips-left@2x.png 2x" alt="Image">
				<img data-fls-mouse class="hero__cardano" src="@img/Cardano@1x.png" srcset="@img/Cardano@2x.png 2x" alt="Image">
			</div>
			<div class="hero__images hero__images_right">
				<img class="hero__chips hero__chips-r" src="@img/cas-chips-right@1x.png" srcset="@img/cas-chips-right@2x.png 2x" alt="Image">
				<img data-fls-mouse data-fls-mouse-dxr data-fls-mouse-dyr class="hero__bitcoin" src="@img/Bitcoin@1x.png" srcset="@img/Bitcoin@2x.png 2x" alt="Image">
			</div>

		</div>
	</section>

	<!-- PRODUCTS - section -->
	<section class="page__products products">
		<div class="products__container">
			<div class="products__wrapper">

				<div class="products__product product product_learning">

					<h2 class="product__title h2 title-h">
						Learn Crypto
					</h2>
					<p class="product__txt txt">
						Lorem ipsum dolor sit amet consectetur. Eget neque dui fusce vitae mi. Proin nibh ut ante adipiscing mattis est consectetur pharetra suspendisse.
					</p>
					<ul class="product__list">

						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 1</div>
								<div class="prod-card__icon prod-card__icon--icon-crypto-curr"></div>
								<p class="prod-card__caption caption">What is cryptocurrency?</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 2</div>
								<div class="prod-card__icon prod-card__icon--icon-crypto-wallet"></div>
								<p class="prod-card__caption caption">Crypto Wallets</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 3</div>
								<div class="prod-card__icon prod-card__icon--icon-buying"></div>
								<p class="prod-card__caption caption">Buying Crypto</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 4</div>
								<div class="prod-card__icon prod-card__icon--icon-storing"></div>
								<p class="prod-card__caption caption">Storing Crypto</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 5</div>
								<div class="prod-card__icon prod-card__icon--icon-exchanging"></div>
								<p class="prod-card__caption caption">Exchanging Crypto</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 6</div>
								<div class="prod-card__icon prod-card__icon--icon-wallets"></div>
								<p class="prod-card__caption caption">Hot vs Cold Wallets</p>
							</a>
						</li>

					</ul>

				</div>
				<div class="products__product product product_gaming">

					<h2 class="product__title h2 title-h">
						Web 3.0 Gaming
					</h2>
					<p class="product__txt txt">
						Lorem ipsum dolor sit amet consectetur. Eget neque dui fusce vitae mi. Proin nibh ut ante adipiscing mattis est consectetur pharetra suspendisse. Enim massa etiam vestibulum ac
						faucibus. Ut at tempor in tincidunt.
					</p>
					<ul class="product__list">

						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 1</div>
								<div class="prod-card__icon prod-card__icon--icon-web3"></div>
								<p class="prod-card__caption caption">Web3 Gaming</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 2</div>
								<div class="prod-card__icon prod-card__icon--icon-blockchain"></div>
								<p class="prod-card__caption caption">Blockchain in Gaming</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 3</div>
								<div class="prod-card__icon prod-card__icon--icon-play"></div>
								<p class="prod-card__caption caption">Play-to-Earn (P2E)</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 4</div>
								<div class="prod-card__icon prod-card__icon--icon-games"></div>
								<p class="prod-card__caption caption">Web3 Games</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 5</div>
								<div class="prod-card__icon prod-card__icon--icon-nft"></div>
								<p class="prod-card__caption caption">NFT Games</p>
							</a>
						</li>
						<li class="product__item">
							<a href="#" class="prod-card">
								<div class="prod-card__step">Step 6</div>
								<div class="prod-card__icon prod-card__icon--icon-security"></div>
								<p class="prod-card__caption caption">Security and Privacy</p>
							</a>
						</li>

					</ul>

				</div>

			</div>
		</div>
	</section>

</main>