@use "sass:color";

// HERO - section
.hero {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		width: 1800px;
		height: 1800px;
		top: -950px;
		left: 50%;
		transform: translate(-50%, 0px);
		background-image: url("@img/shine.svg");
		background-position: center center; /* x y */
		background-size: cover;
		background-repeat: no-repeat;

		opacity: 0.8;
	}

	// .hero__container
	&__container {
		position: relative;
	}

	// .hero__content
	&__content {
		position: relative;
		z-index: 7;

		margin: 0 auto;
		padding-top: 96px;
		text-align: center;

		max-width: 795px;

		@media (max-width: toEm($tablet)) {
			max-width: 560px;
		}

		@media (max-width: toEm($mobile)) {
			padding-top: 48px;
		}

		@media (max-width: toEm(375)) {
			padding-top: 32px;
		}
	}

	// .hero__title
	&__title {
		@include adaptiveValue("margin-bottom", 32, 24, 0, 768, 375);
	}

	// .hero__txt
	&__txt {
		@include adaptiveValue("margin-bottom", 48, 40, 0, 768, 375);
	}

	// .hero__btn
	&__btn {
		display: inline-flex;
		align-items: center;
		border-radius: 10px;
		padding: 10px 24px;
		@include adaptiveValue("width", 163, 155, 0, 991, 768);
		@include adaptiveValue("height", 56, 48, 0, 991, 768);

		background: $accentColor;
		color: $primaryColor;
		font-weight: 700;
		font-size: 13px;
		line-height: 150%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-wrap: nowrap;

		transition:
			background-color 0.3s ease,
			box-shadow 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background: color.adjust($accentColor, $lightness: -5%);
				box-shadow: 0 0 10px rgba($accentColor, 0.7);
			}
		}
	}

	// .hero__images
	&__images {
		// .hero__images_left
		&_left {
			position: absolute;
			top: 8px;
			// left: -9px;
			// left: -235px;
			@include adaptiveValue("left", -9, -235, 0, 1350, 320);
		}

		// .hero__images_right
		&_right {
			position: absolute;
			// right: 7px;
			// right: -255px;
			@include adaptiveValue("right", 7, -255, 0, 1200, 320);
			top: 8px;
		}
	}

	// .hero__cardano
	&__cardano {
		position: absolute;
		top: 20.869565%; /* 96/460 */
		right: 2.5%; /* 8/320 */

		width: 320px;
		height: 320px;
	}

	// .hero__bitcoin
	&__bitcoin {
		width: 360px;
		height: 360px;
	}

	// .hero__chips
	&__chips {
		position: relative;
		z-index: 5;
	}

	// .hero__chips-l
	&__chips-l {
		width: 320px;
		height: 460px;
	}

	// .hero__chips-r
	&__chips-r {
		position: absolute;
		top: 15.5%;
		right: -13%;

		width: 320px;
		height: 380px;
	}
}

// PRODUCTS - section
.products {
	// .products__container
	&__container {
	}

	// .products__wrapper
	&__wrapper {
		position: relative;

		display: grid;
		grid-column-gap: 56px;
		@include adaptiveValue("grid-row-gap", 88, 64, 0, 768, 375);

		// --- margin ---
		@media (max-width: toEm(1400)) {
			margin-inline: 22.5px;
		}
		@include adaptiveValue("margin-inline", 22, -16, 3, 768, 375);
		// --- padding ---
		padding: 56px;
		@media (max-width: toEm(1350)) {
			padding: 40px 32px;
		}
		@include adaptiveValue("padding-inline", 40, 22, 3, 768, 375);
		@include adaptiveValue("padding-bottom", 40, 30, 3, 768, 375);
		@include adaptiveValue("padding-top", 40, 38, 3, 768, 375);

		background: linear-gradient(180deg, #273851 0%, #1d223a 100%);
		border: 2px solid rgba(75, 80, 103, 1);
		border-radius: 24px;

		@media (min-width: toEm(1300)) {
			grid-template-columns: 1fr 1fr;

			// --- vertical line ---
			&::before {
				content: "";

				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0px);

				height: 100%;
				width: 1px;
				background: linear-gradient(
					180deg,
					rgba(149, 159, 205, 0) 0%,
					rgba(149, 159, 205, 1) 50%,
					rgba(149, 159, 205, 0) 100%
				);
			}
		}
	}

	// .products__product
	&__product {
	}
}

.product {
	// .product_learning
	&_learning {
	}

	// .product_gaming
	&_gaming {
	}

	// .product__title
	&__title {
	}

	// .product__txt
	&__txt {
		min-height: 108px;
		max-width: 480px;

		text-align: center;
	}

	// .product__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
		grid-auto-rows: minmax(256px, 1fr);
		@include adaptiveValue("grid-gap", 24, 16, 0, 768, 375);

		@media (max-width: toEm($tablet)) {
			grid-auto-rows: minmax(226px, 1fr);
		}

		@media (max-width: toEm(750)) {
			grid-auto-rows: minmax(206px, 1fr);
		}
	}

	// .product__item
	&__item {
		display: grid;
	}
}

.prod-card {
	position: relative;

	display: grid;
	justify-items: center;

	padding: 32px 32px 40px;

	box-shadow:
		4px 16px 20px 0 #00233c,
		4px 16px 60px 0 rgba(0, 35, 60, 0.5);
	background: linear-gradient(180deg, rgba(90, 228, 170, 0.1) 0%, rgba(90, 228, 170, 0.05) 100%);
	border-radius: 16px;
	text-align: center;

	@media (max-width: toEm(750)) {
		padding: 20px 24px 32px 24px;
	}

	// .prod-card__step
	&__step {
		position: absolute;
		z-index: 10;

		top: 0;
		left: 0;
		padding: 7px 16px 6px;

		line-height: 1.5;
		background-color: $primaryColor;
		border-radius: 16px 0;
	}

	// .prod-card__icon
	&__icon {
		position: relative;

		width: 112px;
		height: 112px;
		margin-bottom: 12px;

		&::before {
			position: absolute;
			z-index: 5;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			font-size: 64px;
			color: $accentColor;

			.product_gaming & {
				color: $secPrimaryColor;
			}
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: "";

			width: 95px;
			height: 95px;

			border-radius: 100%;
			background: rgba(90, 228, 171, 0.45);
			filter: blur(25px);

			transition: all 0.3s ease-in-out;

			.product_gaming & {
				background: $secPrimaryColor;
				background: rgba(86, 173, 255, 0.45);
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			& .prod-card__icon::after {
				width: 105x;
				height: 105px;

				filter: blur(35px);
			}
		}
	}

	// .prod-card__caption
	&__caption {
		align-self: end;

		color: $accentColor;

		.product_gaming & {
			color: $secPrimaryColor;
		}
	}
}

// MILESTONES - section

.milestones {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0px);

		height: 560px;
		width: 560px;

		background-color: #5ae4cb;
		border-radius: 100%;
		filter: blur(350px);
	}

	// .milestones__container
	&__container {
	}

	// .milestones__wrapper
	&__wrap {
	}

	// .milestones__title
	&__title {
	}

	// .milestones__subtitle
	&__subtitle {
		max-width: 790px;
	}

	// .milestones__numbers
	&__numbers {
		@include adaptiveValue("margin-bottom", 64, 40, 0, 768, 375);
	}

	// .milestones__trust
	&__trust {
	}
}

.numbers {
	// .numbers__container
	&__container {
	}

	// .numbers__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));

		grid-gap: 32px;
		@media (max-width: toEm(1250)) {
			grid-gap: 24px;
		}
		@include adaptiveValue("grid-gap", 24, 16, 3, 768, 375);

		@media (min-width: toEm(376)) {
			grid-auto-rows: minmax(134px, 1fr);
		}
		@media (max-width: toEm(375)) {
			grid-gap: 8px;
		}
	}

	// .numbers__item
	&__item {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-gap: 16px;

		padding: 32px 32px 25px;

		border-radius: 16px;
		background: linear-gradient(180deg, rgba(27, 32, 54, 0.15) 30%, #1b2036 100%);

		@media (max-width: toEm(375)) {
			grid-gap: 8px;

			padding: 24px;
		}
	}

	// .numbers__num
	&__num {
		display: flex;

		font-size: 56px;
		font-weight: 700;
		line-height: 120%;

		@media (max-width: toEm(375)) {
			font-size: 40px;
		}

		& span {
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
	}

	// .numbers__txt
	&__txt {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		opacity: 0;
		transition: opacity 0.3s ease-in-out 0.5s;
	}
}

.trust {
	// .trust__title
	&__title {
		@include adaptiveValue("margin-bottom", 32, 24, 0, 768, 375);

		text-align: center;
	}

	// .trust__logos
	&__logos {
		position: relative;

		margin-right: -102px;
		overflow: hidden;

		@media (max-width: toEm(1450)) {
			margin-right: -39px;
		}

		@include adaptiveValue("margin-right", -39, -16, 3, 768, 375);

		&::before {
			content: "";
			position: absolute;
			z-index: 5;
			top: 0;
			right: -1px;
			bottom: 0;
			width: 103px;

			background: linear-gradient(270deg, rgba(28, 33, 55, 1) 58%, rgba(28, 33, 55, 0) 100%);

			@media (max-width: toEm(1450)) {
				width: 39px;

				background: linear-gradient(270deg, rgba(28, 33, 55, 1), rgba(28, 33, 55, 0) 100%);
			}

			@include adaptiveValue("width", 39, 16, 3, 768, 375);
		}
	}

	// .trust__list
	&__list {
	}

	// .trust__logo
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 248px;
		height: 132px;

		border: 1px solid $accentColor;
		border-radius: 16px;

		@media (max-width: toEm(375)) {
			width: 200px;
			height: 120px;
		}
	}
}

// TEAM - section

.team {
	// .team__container
	&__container {
	}

	// .team__title
	&__title {
	}

	// .team__subtitle
	&__subtitle {
		max-width: 790px;
	}

	// .team__slider
	&__slider {
	}
}

.slider {
	position: relative;
	// .slider__slider
	&__slider {
	}

	// .slider__wrapper
	&__wrapper {
	}

	// .slider__slide
	&__slide {
		display: grid;
		justify-items: center;
		grid-gap: 12px;

		padding: 32px 32px 40px;

		border-radius: 16px;
		background: radial-gradient(100% 100% at 49.87% 0%, #346160 0%, #242e43 58%);
	}

	// .slider__photo, .slider__position
	&__photo,
	&__position {
		margin-bottom: 4px;
	}

	// .slider__photo
	&__photo {
		width: 160px;
		height: 160px;
		border-radius: 100%;
		overflow: hidden;
	}

	// .slider__photo-ibg
	&__photo-ibg {
		& img {
			width: 105%;
			height: 105%;
		}
	}

	// .slider__name
	&__name {
		font-size: 28px;
		font-weight: 700;
		line-height: 1.2;
	}

	// .slider__position
	&__position {
		line-height: 1.5;
	}

	// .slider__description
	&__description {
		text-align: center;
		line-height: 1.5;
	}

	&__btn-next,
	&__btn-prev {
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		z-index: 500 !important;

		display: flex;
		justify-content: center;
		align-items: center;

		@include adaptiveValue("height", 72, 40, 0, 767, 375);
		@include adaptiveValue("width", 72, 40, 0, 767, 375);

		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(12px);
		border-radius: 60px;
		border: 1px solid transparent;

		transition:
			border 0.3s,
			color 0.3s;

		&.swiper-button-disabled::before {
			color: #53586e;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $accentColor;
				border: 1px solid $accentColor;
			}
		}
	}

	// .slider__btn-prev
	&__btn-prev {
		@include adaptiveValue("left", -36, -16, 0, 767, 375);

		&::before {
			transform: rotate(-180deg);
		}
	}

	// .slider__btn-next
	&__btn-next {
		// right: -36px;

		// @media (max-width: toEm(1400)) {
		// 	right: -34px;
		// }

		@include adaptiveValue("right", -34, -16, 0, 767, 375);
	}
}
