<section data-fls-welcomeTxt class="welcome-txt">
   <div class="welcome-txt__title-block">
      <!-- <picture class="welcome-txt__svg"> -->
         <img class="welcome-txt__img" src="@img/paint.png" alt="img">
      <!-- </picture> -->
      <!-- <svg class="welcome-txt__svg" width="40px" height="40px" viewBox="0 0 40 40">
         <use xlink:href="@img/icons/icons.svg#paint"></use>
      </svg> -->
      <h2 class="welcome-txt__txt-title">розфарбуємо ваш бізнес</h2>
   </div>
   <p class="welcome-txt__text-block" lang="uk-UA">
      Ми пропонуємо широкий асортимент продуктів з всіма видами нанесення, серед яких є фірмові сувеніри та одяг, які можуть бути виготовлені на замовлення, з урахуванням індивідуальних потреб клієнта. Ми докладаємо всіх зусиль, щоб наші клієнти отримували найкращі бізнес сувеніри та промо одяг, які будуть не тільки використані, але й збережені як символ успішної співпраці.<br><br>
      Наша команда професіоналів готова надати консультації та допомогу в підборі оптимального варіанту рекламно-сувенірної продукції, що відповідає конкретним потребам та бюджету клієнта. Ми стежимо за тим, щоб наша продукція відповідала найвищим стандартам якості та була доступна за розумною ціною.
      Крім виробництва бізнес сувенірів та промо одягу, наша агенція пропонує повний спектр рекламних послуг, включаючи розробку та впровадження рекламної кампанії, розробку дизайну та логотипу, рекламу в соціальних мережах та інші послуги.<br><br>
      Отже, якщо вам потрібні найкращі бізнес сувеніри та промо одяг для ваших клієнтів та співробітників, або ви шукаєте рекламну агенцію, яка забезпечить вас рекламно-сувенірною продукцією високої якості - звертайтеся до нас. Ми готові надати вам всі необхідні послуги та допомогти вам з реалізацією ваших бізнес-ідей.
   </p>
</section>