<div class="numbers" data-fls-digcounterpl data-fls-watcher data-fls-watcher-once data-fls-watcher-threshold='0.5'>
	<div class="numbers__container">
		<ul class="numbers__list">
			<li class="numbers__item">
				<div class="numbers__num">
					<div data-digits-counter data-digits-counter-speed="3500" data-digits-counter-format=",">10000</div>
					<span>+</span>
				</div>
				<p class="numbers__txt">Successful Consultations</p>
			</li>
			<li class="numbers__item">
				<div class="numbers__num">
					<div data-digits-counter data-digits-counter-speed="3500" data-digits-counter-format=",">2500</div>
					<span>+</span>
				</div>
				<p class="numbers__txt">Healthcare Professionals</p>
			</li>
			<li class="numbers__item">
				<div class="numbers__num">
					<div data-digits-counter data-digits-counter-speed="3500" data-digits-counter-format=",">98</div>
					<span>%</span>
				</div>
				<p class="numbers__txt">Patient Satisfaction Rate</p>
			</li>
			<li class="numbers__item">
				<div class="numbers__num">
					<div data-digits-counter data-digits-counter-speed="3500" data-digits-counter-format=",">200</div>
					<span>+</span>
				</div>
				<p class="numbers__txt">Top Specialists</p>
			</li>
		</ul>
	</div>
</div>