.footer {
	margin-bottom: 119px;

	@media (max-width: toEm($mobile)) {
		margin-bottom: 126px;
	}

	@include adaptiveValue("margin-bottom", 96, 88, 3, 375, 320);

	// .footer__container
	&__container {
	}

	// .footer__wrapper
	&__wrapper {
	}

	// .footer__title
	&__title {
		text-align: center;

		@include adaptiveValue("margin-bottom", 32, 24, 0, 767, 375);
	}

	// .footer__socials
	&__socials {
	}
}

.social-links {
	// .social-links__list

	&__list {
		display: grid;
		grid-column-gap: 32px;
		@include adaptiveValue("grid-row-gap", 24, 16, 0, 768, 375);

		@media (min-width: toEm($mobile)) {
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		}
	}

	// .social-links__item
	&__item {
		flex: 1 1 33.333%;

		color: $accentColor;
		background: linear-gradient(180deg, rgba(90, 228, 170, 0.1), rgba(90, 228, 170, 0.05) 100%);
		border-radius: 16px;
	}

	// .social-links__link
	&__link {
		display: flex;
		align-items: center;
		gap: 27px;

		padding: 25px 42px 27px 25px;

		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				.social-links__icon::after {
					width: 107%;
					height: 107%;

					filter: blur(13px);
				}
			}
		}
	}

	// .social-links__icon
	&__icon {
		position: relative;
		z-index: 3;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 80px;
		height: 80px;

		font-size: 44px;

		&::after {
			content: "";
			position: absolute;
			z-index: 1;

			width: 100%;
			height: 100%;

			filter: blur(28.31858253479004px);
			filter: blur(11px);
			background: rgba(90, 228, 170, 1);
			border-radius: 100%;
			opacity: 0.25;

			transition: all 0.3s ease-in-out;
		}
	}
	// .social-links__name
	&__name {
		flex: 1 1 auto;

		font-size: 20px;
		font-weight: 500;
		line-height: 1.5;
	}

	// .social-links__arrow
	&__arrow {
		font-size: 29px;
	}
}
