<footer class="footer">
	<div data-fls-footer class="footer__container">
		<div class="footer__wrapper wrap">

			<h2 class="footer__title h2-footer title-h">Follow us:</h2>
			<nav class="footer__socials social-links" aria-label="social medias">
				<ul class="social-links__list">
					<li class="social-links__item">
						<a class="social-links__link" href="#" target="_blank" title="TikTok">
							<span class="social-links__icon social-links__icon--icon-Twitter"></span>
							<p class="social-links__name">Tide</p>
							<span class="social-links__arrow social-links__icon--icon-arrow"></span>
						</a>
					</li>
					<li class="social-links__item">
						<a class="social-links__link" href="#" target="_blank" title="TikTok">
							<span class="social-links__icon social-links__icon--icon-youTube"></span>
							<p class="social-links__name">YouTube</p>
							<span class="social-links__arrow social-links__icon--icon-arrow"></span>
						</a>
					</li>
					<li class="social-links__item">
						<a class="social-links__link" href="#" target="_blank" title="TikTok">
							<span class="social-links__icon social-links__icon--icon-TikTok"></span>
							<p class="social-links__name">TikTok</p>
							<span class="social-links__arrow social-links__icon--icon-arrow"></span>
						</a>
					</li>
				</ul>
			</nav>

		</div>
	</div>
</footer>