<section data-fls-advantages class="advantages">
   <h2 class="advantages__title">Наші переваги</h2>
   <div class="advantages__box">
      <div class="advantages__item">
         <svg class="advantages__svg">
            <use xlink:href="__spritemap#sprite-delivery"></use>
         </svg>
         <div class="advantages__description">
            <h3>Доставка по Україні</h3>
            <p>Ми здійснюємо доставку по всій території України за тарифами національних перевізників</p>
         </div>
      </div>
      <div class="advantages__item">
         <svg class="advantages__svg">
            <use xlink:href="__spritemap#sprite-price"></use>
         </svg>
         <div class="advantages__description">
            <h3>Оптимальні ціни</h3>
            <p>Ми пропонуємо конкурентні ціни на сувенірну продукцію з лого, та гнучкі знижки для постійних клієнтів</p>
         </div>
      </div>
      <div class="advantages__item">
         <svg class="advantages__svg">
            <use xlink:href="__spritemap#sprite-time"></use>
         </svg>
         <div class="advantages__description">
            <h3>Короткі строки</h3>
            <p>Виконуємо замовлення по друку логотипів на промо продукції в терміни від 2-х робочих днів</p>
         </div>
      </div>
      <div class="advantages__item">
         <svg class="advantages__svg">
            <use xlink:href="__spritemap#sprite-quality"></use>
         </svg>
         <div class="advantages__description">
            <h3>Висока якість</h3>
            <p>Гарантуємо якість та стійкість нанесення, за умови дотримання правел зберігання та експлуатації</p>
         </div>
      </div>
   </div>
</section>